.login-menu__list-item-button {
    border: 1px solid #465B95;
    border-radius: 68px;
    padding: 10px 53px;
    gap: 10px;
    &:hover {
        background-color:  #465B95;
        color: #FFFFFF;
    }
}
.left-box__order-button,
.right-box__order-button {
    border: 1px solid #2A407C;
    border-radius: 68px;
    padding: 10px 80px;
    gap: 10px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all ease 0.3s;
    color: #FFFFFF;
    &:hover {
        background-color:  #465B95;
        color: #1c2230;
    }
}
.middle-box__order-button {
    border: 1px solid #EF2A82;
    border-radius: 68px;
    padding: 10px 80px;
    gap: 10px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all ease 0.3s;
    background-color:#EF2A82;
    color: #FFFFFF;
    &:hover {
        background-color:  #FFFFFF;
        color: #EF2A82;
    }
}