.hero {
    background-image: url(img/background-top.jpg);
    min-height: 105vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    width: 100%;
    height: auto;

    .container {
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 12px;

        header {
            nav a {
                margin-top: 1px;
                font-size: rem(16);
                font-weight: 400;
                line-height: 19px;
                color: #8794BA;
                display: inline-block;
                text-decoration: none;
                padding: 0 18px;
                text-transform: capitalize;
                transition: all ease 0.3s;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            .logo-box {
                &__img {

                }
                &__txt {
                    top: -10px;
                    position: relative;
                    padding-left: 10px;
                }
            }
            .navigation {
                display: flex;
                padding-right: 220px;
            }
            .navigation-menu {
                &__list {
                    display: flex;
                }
                &__list-item {

                }
                &__list-item-link {
    
                }         
                }
            
            .login {

            }

            .login-menu {
                &__list {
                    display: flex;
                }
                &__list-item {
                    left: 0;
                    right: 0;
                    margin: auto;  
                    padding-right: 30px;
                }
                &__list-item-link{   

                }
                &__list-item-button {
                    border: 1px solid #465B95;
                    border-radius: 68px;
                    padding: 10px 53px;
                    gap: 10px;
                }
                    
                
            }
            
        }
        .analytics-graphic {
            position: relative;
            left: 62.8%;
            top: 160px;
            width: 100%;
            height: auto;
            display: unset;
        }
        .analytics-graphic-circle {
            position: relative;
            left: 1%;
            top: -52px;
            width: auto;
            width: 100%;
            height: auto;
            display: unset;
        }
    }

} 
.mega {
    .container {
        width: 100%;
        max-width: 1180px;
        margin: 0 auto;
        padding: 0 12px;
        h2 {
            margin-top: 50px;
            font-weight: 700;
            font-size: rem(40);
            line-height: 47px;
            text-align: center;
            color: #172755;
        }
        p {
            font-weight: 400;
            font-size: rem(18);
            line-height: 150%;
            text-align: center;
            color: #8794BA;
            padding: 0 10px;
            margin-bottom: 81px;
        }
        .column {
            display: flex;
            text-align: center;
            h4 {
                font-weight: 700;
                font-size: rem(16);
                line-height: 19px;
                text-align: center;
                color: #172755;
            }
            p {
                font-weight: 400;
                font-size: rem(16);
                line-height: 140%;
                text-align: center;
                color: #8794BA;
            }
        }
    }
}
.apollo {
    .container {
        width: 100%;
        max-width: 1180px;
        margin: 0 auto;
        padding: 0 12px;
        .info-box {
            display: flex;
            margin-bottom: 30px;

            &__text {
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                h2 {
                    font-weight: 700;
                    font-size: rem(40);
                    line-height: 47px;
                    color: #172755;
                    padding-right: 99px;
                }
                p {
                    font-weight: 400;
                    font-size: rem(18);
                    line-height: 150%;
                    color: #8794BA;
                    padding-right: 24px;
                }
            }
            &__rhombus, 
            &__callendar {
                position: relative;
                left: 35px;
            }
            &__horizontal {
                position: relative;
                right: 35px;
            }
        }

    }
}
.zeus {
    background-image: url(img/background-bottom.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    width: 100%;
    height: auto;
    .container {
        width: 100%;
        max-width: 1180px;
        margin: 0 auto;
        padding: 0 12px;
        .pricing-plans {
            text-align: center;
            margin-top: 220px;
            &__heading {
                font-weight: 700;
                font-size: rem(40);
                line-height: 47px;
                text-align: center;
                color: #FFFFFF;
            }
            &__text {
                font-weight: 400;
                font-size: rem(18);
                line-height: 150%;
                text-align: center;
                color: #8794BA;
                margin: 30 0px;
                width: 60%;
                display: inline-flex;
            }
            p {
                margin-bottom: 75px;
            }
        }
        .pricing-box {
            display: flex;
            width: 100%;
            justify-content: space-between;
            text-align: center;
            min-height: 420px;
            .left-box,
            .middle-box,
            .right-box {
                width: 29%;
                border-radius: 30px;
            }
            .left-box,
            .right-box { 
                background: rgba(15, 31, 75, 0.7);
                box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
                h4 {
                    font-weight: 700;
                    font-size: rem(30);
                    line-height: 35px;
                    text-align: center;
                    color: #FFFFFF;
                    margin-bottom: 5px;
                }
                &__user-quantity {
                    font-weight: 400;
                    font-size: rem(18);
                    line-height: 150%;
                    text-align: center;
                    color: #8794BA;
                    margin-top: 10px;
                    margin-bottom: 35px;
                }
                &__line {
                    display: block;
                    width: 200px;
                    height: 1px;
                    margin: 20px auto 0;
                    background-color: #2A407C;
                }
                &__price-list {
                    display: flex;
                    justify-content: center;
                }
                &__currency {
                    font-weight: 700;
                    font-size: rem(30);
                    line-height: 35px;
                    text-align: center;
                    color:#FFFFFF;
                    margin-bottom: 0;
                    margin-top: 0;
                    padding-top: 56px;
                }
                &__price {
                    font-weight: 700;
                    font-size: rem(60);
                    line-height: 70px;
                    text-align: center;
                    color:#FFFFFF;
                    margin-bottom: 0px;
                    margin-top: 0;
                    padding-top: 28px;
                }
                &__time-term {
                    font-weight: 400;
                    font-size: rem(16);
                    line-height: 140%;
                    text-align: center;
                    color: #8794BA;
                    margin-top: 3px;
                    margin-bottom: 50px;
                }
                &__order-button {
                    border: 1px solid #2A407C;
                    border-radius: 68px;
                    padding: 10px 80px;
                    gap: 10px;
                    text-decoration: none;
                    text-transform: capitalize;
                    transition: all ease 0.3s;
                    color: #FFFFFF;
                }
            }
            .middle-box {
                background: #FFFFFF;
                box-shadow: 0px 18px 50px -15px #060F28;
                h4 {
                    font-weight: 700;
                    font-size: rem(30);
                    line-height: 35px;
                    text-align: center;
                    color: #172755;
                    margin-bottom: 5px;
                }
                &__user-quantity {
                    font-weight: 400;
                    font-size: rem(18);
                    line-height: 150%;
                    text-align: center;
                    color: #8794BA;
                    margin-top: 10px;
                    margin-bottom: 35px;
                }
                &__line {
                    display: block;
                    width: 200px;
                    height: 1px;
                    margin: 20px auto 0;
                    background: #D3D9E9;
                }
                &__price-list {
                    display: flex;
                    justify-content: center;
                }
                &__currency {
                    font-weight: 700;
                    font-size: rem(30);
                    line-height: 35px;
                    text-align: center;
                    color: #172755;
                    margin-bottom: 0;
                    margin-top: 0;
                    padding-top: 56px;
                }
                &__price {
                    font-weight: 700;
                    font-size: rem(60);
                    line-height: 70px;
                    text-align: center;
                    color: #172755;
                    margin-bottom: 0px;
                    margin-top: 0;
                    padding-top: 28px;
                }
                &__time-term {
                    font-weight: 400;
                    font-size: rem(16);
                    line-height: 140%;
                    text-align: center;
                    color: #8794BA;
                    margin-top: 0px;
                    margin-bottom: 50px;
                }
                &__order-button {
                    border: 1px solid #EF2A82;
                    border-radius: 68px;
                    padding: 10px 80px;
                    gap: 10px;
                    text-decoration: none;
                    text-transform: capitalize;
                    transition: all ease 0.3s;
                    background-color:#EF2A82;
                    color: #FFFFFF;
                }
            }

        }
        .pricing-bottom-line {
            display: block;
            width: 200px;
            height: 1px;
            margin: 20px auto 0;
            background-color: #2A407C;
        }
    }
}
 
    