.hero {
    background-image: url(img/background-top.jpg);
    min-height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;

    .container {
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 12px;

        header {
            nav a {
                margin-top: 1px;
                font-size: rem(16);
                font-weight: 400;
                line-height: 19px;
                color: #8794BA;
                display: inline-block;
                text-decoration: none;
                padding: 0 18px;
                text-transform: capitalize;
                transition: all ease 0.3s;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            .logo-box {
                &__img {

                }
                &__txt {
                    top: -10px;
                    position: relative;
                    padding-left: 10px;
                }
            }
            .navigation {
                display: flex;
                padding-right: 220px;
            }
            .navigation-menu {
                &__list {
                    display: flex;
                }
                &__list-item {

                }
                &__list-item-link {
    
                }         
                }
            
            .login {

            }

            .login-menu {
                &__list {
                    display: flex;
                }
                &__list-item {
                    left: 0;
                    right: 0;
                    margin: auto;  
                    padding-right: 30px;
                }
                &__list-item-link{   

                }
                &__list-item-button {
                    border: 1px solid #465B95;
                    border-radius: 68px;
                    padding: 10px 53px;
                    gap: 10px;
                }
                    
                
            }
            
        }
        .analytics-graphic {
            position: relative;
            left: 60%;
            top: 260px;
           
        }
        .analytics-graphic-circle {
            position: relative;
            left: 55%;
            top: -248px;
            width: auto;
        }
    }
} 
 
 
    